# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.nfo
*.obj
*.pp
*.mk

.metadata
Debug/*
868MHz - Limited CCS Core Edition/*
868MHz - Unrestricted CCS Platinum/*

